/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, sans-serif;
}

.logo {
    width: 150px;
    height: auto;
    margin-left: 20px;
}

header {
    background-color: bisque;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color:black
}

.btn-order {
    background-color: crimson;
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* HERO SECTION */
#hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #fafafa;
}

.hero-image {
    width: 100%;
    max-width: 600%;
    height: auto;
    border-radius: 10px;
}

.hero-content {
    max-width: 600px;
}

.btn-primary {
    background-color: aqua;
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* PRODUCT DECTION */
#product h2 {
    padding: 40px 0 0 40px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
}

.product {
    text-align: center;
    max-width: 300px;
    margin: 20px;
}

.product.img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* TESTIMONIAL SECTION */
#testimonial {
    margin: 20px;
    max-width: 100px;
}

.testimonial.img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

/* CONTACT SECTION */
#contact {
    padding: 40px;
    text-align: center;
}

form input,
form textarea {
    width: 100%;
    max-width: 700%;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
}

button {
    padding : 10px 20px;
    background-color: rgb(140, 192, 238);
    color: white;
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p{
    margin: 10px 0;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a img {
    width: 30px;
    margin: 10px;
}